.swiper-container {
    width: 100%;
  }
  
  .swiper-slide {
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-button-prev 
  { 
    color: greenyellow; 
  }
  .swiper-button-next 
  { 
    color: greenyellow; 
  }